.two-column-section {
  display: flex;
  justify-content: space-between; /* Eğer aralarına boşluk eklemek istersen */

  .section-left,
  .section-right {
    width: 50%; /* Her bir bölüme %50 genişlik */
  }

  .section-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-right {
    padding: $gap60;
    @include respond-to(small) {
      padding: 0px;
    }
  }

  @include respond-to(small) {
    display: block;
    .section-left,
    .section-right {
      width: 100%;
    }
  }
}

.two-column-cart-layout{
    display: flex;
    .cart-list{
        width: 60%;
    }
    .cart-summary-wrapper{
        width: 40%;
        padding: $gap30;
    }
    @include respond-to(small) {
        display: block;
        .cart-list,.cart-summary-wrapper{
          width: 100%;
        }
    }
}