.four-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $gap30;

  @include respond-to(small) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
