.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: stretch;
  gap: 1rem;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    /* Tablet için */
  }
}

@media (max-width: 660px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Mobil için 2 kolon */
    
    justify-items: center;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* Mobil için 2 kolon */
    justify-items: center;
  }
}


.category-grid{
  margin-top: $gap60;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 1rem;
  justify-items: center;
}

.popular-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 0.5rem;
  row-gap: 1.5rem;
  justify-items: stretch;
}

@media (max-width: 1024px) {
  .popular-grid {
    justify-items: center;
  }
}

@media (max-width: 540px) {
  .popular-grid {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-items: center;
  }
}

.product-detail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 1rem;
}

@media (max-width:1336px) {
  .product-detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }
}

@media (max-width:940px) {
  .product-detail-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.cart-grid{
  display: grid;
  grid-template-columns: 57% 43%;
  gap: 1rem;
  justify-items: stretch;
  @include respond-to(small) {
    grid-template-columns: 1fr;
    justify-items: center; 
  }
}