{% extends "base.html" %} {% load static %} {% block title %}cart{% endblock %} {% block content %}

<section class="section">
	<h1>Sepetim</h1>
</section>

<!-- cart -->
<section class="section">
	<div class="cart-grid">
		<div class="cart-products">
			{% if cart_items %}
			<a href="{% url 'clear_cart' %}" class="">Sepeti Temizle</a>
		
			{% endif %}
			{% for item in cart_items %}
			<div class="cart-card">
				<img src="{{ item.image }}" alt="" class="cart-card-img" />

				<div class="cart-card-info">
					<div class="cart-card-info-name">
						<a href="#">{{item.product.title}}</a>
					</div>
					<div class="cart-card-info-price">
						<small class="cart-card-info-price-discount cart-card-info-price-discount-active">
							<span class="strikethrough">192$</span>
							indirim!
						</small>
						<h2>134$</h2>
					</div>

					<div class="quantity">
						<form action="{% url 'update_cart_quantity' item.product.id %}" method="POST" style="display: inline">
							{% csrf_token %}
							<input type="hidden" name="action" value="decrease" />
							<button class="">-</button>
						</form>
						<input type="number" id="quantity" value="{{ item.quantity }}" min="1" readonly />
						<form action="{% url 'update_cart_quantity' item.product.id %}" method="POST" style="display: inline">
							{% csrf_token %}
							<input type="hidden" name="action" min="1" max="10" value="increase" />
							<button class="">+</button>
						</form>
					</div>
				</div>
				<form action="{% url 'remove_from_cart' item.product.id %}" method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-transparent remove-btn" style="border: none; background: none; padding: 0">
						<svg class="cart-card-manage-remove-cart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
							<polyline points="3 6 5 6 21 6"></polyline>
							<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
						</svg>
					</button>
				</form>
			</div>
			{% endfor %}
		</div>

		<div class="cart-summary-container">
			<div class="cart-summary">
				<div class="cart-summary-heading">
					<h1>Sipariş Özeti</h1>
				</div>
				{% if cart_items %}
				<div class="cart-summary-totals">
					<p>urunun toplamı</p>
					<p>{{ total_price }}$</p>
				</div>
				<div class="cart-summary-totals">
					<p>kargo toplam</p>
					<p>{{ cargo_price }}$</p>
				</div>
				<hr />
				<div class="cart-summary-total-price">
					<h1>toplam</h1>
					<div class="cart-summary-price">{{ total_without_cargo }}$</div>
				</div>
				<div class="ticket-container">
					<div class="ticket-fast-delivery">
						hızlı
						<br />
						teslimat
					</div>
					<div class="ticket-free-cargo">
						kargo
						<br />
						bedava
					</div>
				</div>
				<button class="add-to-cart">Sepeti onayla</button>
				{% else %}
				<p>Sepetinizde ürün bulunmamaktadır.</p>
				<br />
				{% endif %}
			</div>
		</div>
	</div>
</section>

<!-- load more btn -->
<section class="section more-section continue-section">
	<a href="{% url 'products' %}">
		<button class="btn btn-transparent btn-more">Alışverişe devam et -></button>
	</a>
</section>

{% endblock %}
