<!-- FOOTER -->
<footer class="section footer">
	<div class="footer-container container">
		<header class="footer-logo">
			<a href="#">
				<h2>AIKE</h2>
			</a>
		</header>

		<nav class="footer-links">
			<div class="footer-column">
				<h3 class="footer-column--title">Company</h3>
				<ul class="footer-column--links">
					<li><a href="#">About</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>

			<div class="footer-column">
				<h3 class="footer-column--title">Category</h3>
				<ul class="footer-column--links">
					<li><a href="#">Living Room</a></li>
					<li><a href="#">Dining Room</a></li>
					<li><a href="#">Home Office</a></li>
					<li><a href="#">Bedroom</a></li>
					<li><a href="#">Outdoor</a></li>
				</ul>
			</div>

			{% comment %} <div class="footer-column">
				<h3 class="footer-column--title">Category</h3>
				<ul class="footer-column--links">
					{% for category in categories %}
						<li><a href="{% url 'products-by-category' category.slug %}">{{ category.name }}</a></li>
					{% endfor %}
				</ul>
			</div> {% endcomment %}

			<div class="footer-column newsletter">
				<h3 class="footer-column--title">Join our newsletter</h3>
				<form>
					<input type="email" placeholder="Email" />
					<button type="submit">→</button>
				</form>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="footer-bottom">
			<p>Copyright © {{ copyright_year }} {{ company_name }}. All rights reserved.</p>
			<div class="footer-links">
				<a href="#">Terms of Condition</a>
				<a href="#">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>
