<header class="navbar">
	<div class="navbar-left">
		<a href="{% url 'home' %}" class="brand">
			<h1>AIKE</h1>
		</a>
		<nav class="nav">
			<ul>
				{% comment %} <li><a href="{% url 'Category' %}">category</a></li>
					<li><a href="{% url 'promo' %}">promo</a></li>
					<li><a href="{% url 'interior-design' %}">interior design</a></li> {% endcomment %}
				{% comment %} 				
					<li><a href="{% url 'products' %}">products</a></li>
					<li><a href="{% url 'cart_detail' %}">sepet</a></li>
			 	{% endcomment %}

				{% for item in navbar_items %}
				{% if item.get_absolute_url != '#' %}
						<li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
					{% endif %}
				{% endfor %}
			
			</ul>
			
		</nav>
	</div>

	<!-- the hamburger -->
	<div class="navbar-right">
		<button id="navbtn" class="nav-toggle-btn">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
	</div>

	<!-- off screen menu -->
	<article class="off-screen-menu">
		<nav class="off-screen-nav">
			<ul>
				{% comment %} <li><a href="{% url 'Category' %}">category</a></li>
				<li class="off-screen-nav--item"><a href="{% url 'promo' %}">promo</a></li>
				<li class="off-screen-nav--item"><a href="{% url 'interior-design' %}">interior design</a></li> {% endcomment %}
				<li class="off-screen-nav--item"><a href="{% url 'products' %}">products</a></li>
				<li class="off-screen-nav--item"><a href="{% url 'cart_detail' %}">sepet</a></li>
			</ul>
		</nav>
	</article>
</header>