<!-- product card -->
{% comment %} {% for product in products %}
<a href="{% url 'product-details' product.slug %}">
	<article class="product-card">
		<img src="{{product.image.url}}" alt="" class="product-card-im" />
		<div class="product-card-info">
			<p class="product-card-text">{{product.title}}</p>
			<p class="product-card-price">{{product.price}}$</p>
		</div>
	</article>
</a>
{% endfor %} {% endcomment %}

<section class="section">
	<div class="product-grid">
		{% for product in products %}
			<div class="product-card" id="product-card">
				<a href="{% url 'product-details' product.slug %}">
					<img src="{{product.image.url}}" alt="product photoge" class="product-card-img" />
				</a>
				<div class="product-card-info">
					<div class="product-card-info-name">
						<a href="{% url 'product-details' product.slug %}">{{product.title}}</a>
					</div>
					<div class="product-card-info-advantage">ücretsiz kargo</div>
					<div class="product-card-info-rating">
						⭐ 4.8
						<span class="review-count">| 89 yorum</span>
					</div>
					<div class="product-card-info-price">
						<small class="product-card-info-price-discount product-card-info-price-discount-active">
							<span class="strikethrough">192$</span>
							indirim!
						</small>
						<h2>{{product.price}}$</h2>
					</div>
                    <form action="{% url 'add_to_cart' product.id %}" method="post" class="product-addchart">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1" />
                        <button type="submit" class="add-to-cart" id="add-to-cart">Sepete ekle</button>
                    </form>
				</div>
			</div>
		{% endfor %}
	</div>
</section>