$cart-card-bg: #f9f9fb;
$cart-card-radius: 10px;
$cart-card-padding: 0.5rem;
$cart-card-transition: all 0.2s;

.cart-card {
  position: relative;
  background-color: $cart-card-bg;
  border-radius: $cart-card-radius;
  padding: $cart-card-padding;

  border: 1px solid gainsboro;

  display: flex;
  align-items: center;

  margin-bottom: 1rem;

  &-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    scale: 0.9;
  }

  &-info {
    max-width: 300px;
    height: 100%;
    margin-left: $gap30;

    &-name {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      color: #333;
      text-transform: capitalize;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      height: calc(
        2 * 1.2em
      ); /* 3 satır yüksekliği, 1.2em her satır için yüksekliği ayarlıyor */
      line-height: 1.2em; /* Her satır arasındaki boşluk */
      overflow: hidden; /* Fazla metni gizler */
    }

    &-price {
      color: #27ae60;
      font-size: 1.1rem;
      font-weight: bold;
      margin-block: 0.5rem;
      &-discount {
        color: #ae2727;
        visibility: hidden;
        font-size: 0.8rem;
        font-weight: 400;
        .strikethrough {
          text-decoration: line-through;
        }
      }
      &-discount-active {
        visibility: visible;
      }
    }
  }
  @include respond-to(small) {
    flex-direction: column;
    text-align: start;
    align-items: center;
  }
  &-manage {
    margin-left: auto;
    &-remove-cart {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      transition: $cart-card-transition;
      &:hover {
        stroke: #ff9800;
      }
    }
  }
}

.cart-summary {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  background: $white-color;
  border-radius: $cart-card-radius;
  margin: 1rem;
  &-heading {
    margin-bottom: 1rem;
  }
  &-advantage {
    background: linear-gradient(45deg, #ff9800, #ffc800);
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  &-totals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  &-total-price {
    margin-block: 0.5rem;
  }
  &-price {
    color: #27ae60;
    font-size: 1.5rem;
    font-weight: bold;
    margin-block: 0.5rem;
    &-discount {
      color: #ae2727;
      visibility: hidden;
      font-size: 0.8rem;
      font-weight: 400;
      .strikethrough {
        text-decoration: line-through;
      }
    }
    &-discount-active {
      visibility: visible;
    }
  }
  .add-to-cart {
    margin-top: 0.5rem;
    visibility: visible;
    width: 100%;
    background-color: #000;
    padding-block: 0.7rem;
    margin-bottom: 5px;
    color: white;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color $product-card-transition;
    &:hover {
      background: none;
      color: #000;
      outline: 3px solid #000;
    }
    &-active,
    &-no-hover:hover {
      background: #27ae60;
      color: #fff;
      outline: none;
    }
  }

  .ticket-container {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    .ticket-fast-delivery,
    .ticket-free-cargo {
      background-color: #27ae60;
      color: white;
      font-size: 0.7rem;
      padding: 0.3rem 0.6rem;
      border-radius: 4px;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    .ticket-free-cargo {
      background-color: #3f3f3ffa;
    }
  }
}
