//=== KART AYARLARI ===//
$category-card-width: px-to-rem(150);    //kart buykluğu
$category-card-radius: 50%;     //0 kare 50% yuvarlak

.category-card {
  text-transform: capitalize;
  text-align: center;
  width: $category-card-width;
  cursor: pointer;
  &-img-wrapper {
    background: red;
    width: $category-card-width;
    height: $category-card-width;
    background: $white-color;
    border-radius: $category-card-radius;
    margin-bottom: 1rem;
  }
  &-img {
    width: $category-card-width;
    height: $category-card-width;
    object-fit: contain;
    scale: 0.7;
    &:hover {
      box-shadow: 0 0 1rem $white-color;
    }
  }

  &:hover{
    text-decoration: underline;
  }

  //for mobile safe instantly
  @include respond-to(small) {
    width: px-to-rem(150);
    &-img-wrapper,&-img{
      width: px-to-rem(150);
      height: px-to-rem(150);
    }
  }
}
