/* === KART AYARLARI === */
$product-card-width: 200px; // kart genişlik
$product-card-radius: 10px; // çerçeve curve
$product-card-bg: #f9f9fb; // arkaplan rengi
$product-card-color: #000; // kart rengi
$product-card-cursor: pointer; // cursor tipi
$product-card-info-gap: 1rem;
$product-card-transition: 0.2s;

.product-card {
  width: $product-card-width;
  background-color: $product-card-bg;
  border-radius: $product-card-radius;
  cursor: $product-card-cursor;
  color: $product-card-color;

  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 660px) {
    width: 100%;
  }

  overflow: hidden;
  &-img {
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
    min-height: 200px;
    object-fit: contain;
    transition: $product-card-transition;
    &:hover {
      transform: scale(1.05); /* Resmi %10 büyütme */
    }
  }

  &-info {
    padding: 0.5rem;
    //height: 100%;
    display: block;

    &-name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: $product-card-info-gap;
      color: #333;
      text-transform: capitalize;

      height: calc(
        2 * 1.2em
      ); /* 3 satır yüksekliği, 1.2em her satır için yüksekliği ayarlıyor */
      line-height: 1.2em; /* Her satır arasındaki boşluk */
      overflow: hidden; /* Fazla metni gizler */
    }

    &-advantage {
      background: linear-gradient(45deg, #ff9800, #ffc800);
      color: white;
      font-size: 0.7rem;
      padding: 0.3rem 0.6rem;
      border-radius: 4px;
      margin-bottom: 0.5rem;
    }

    &-rating {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: #f39c12;
      .review-count {
        font-size: 0.8rem;
        color: #777;
        margin-left: 5px;
      }
    }

    &-price {
      color: #27ae60;
      font-size: 1.1rem;
      font-weight: bold;
      margin-block: 0.5rem;
      &-discount {
        color: #ae2727;
        visibility: hidden;
        font-size: 0.8rem;
        font-weight: 400;
        .strikethrough {
          text-decoration: line-through;
        }
      }
      &-discount-active {
        visibility: visible;
      }
    }
  } //end of &-info

  .add-to-cart {
    visibility: visible;
    width: 100%;
    background-color: #000;
    padding-block: 0.7rem;
    margin-bottom: 5px;
    color: white;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color $product-card-transition;
    &:hover {
      background: none;
      color: #000;
      outline: 3px solid #000;
    }
    &-active,
    &-no-hover:hover {
      background: #27ae60;
      color: #fff;
      outline: none;
    }
  }
}
