@font-face {
  font-family: "RoobertRegular";
  src: url("../fonts/RoobertMonoTRIAL-Regular-BF67243fd29a433.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "RoobertMedium";
    src: url(../fonts/RoobertMonoTRIAL-Medium-BF67243fd28915a.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RoobertBold";
    src: url(../fonts/RoobertMonoTRIAL-Bold-BF67243fd2cfa56.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}