$regular-font: 'RoobertRegular',sans-serif;
$medium-font: 'RoobertMedium',sans-serif;
$bold-font: 'RoobertBold',sans-serif;

$black-color: #000;
$white-color: #F9F9FB;

$gap60:px-to-rem(60);
$gap30:px-to-rem(30);