{% extends "base.html" %} {% load static %}

{% block title %}products{% endblock %} 

{% block content %}
<section class="section products-category-section">
	<h2 class="section-heading-text">Products</h2>
	<p class="emphasis">The best products design for inspiration</p>
	<nav class="product-navbar">
		<div class="product-category-links">
			{% include "partials/_categories.html" %}
		</div>
	</nav>
</section>

{% include "siteapp/partials/_product-filter.html" %}

<section class="section products-section four-column-grid">
	
	{% include "siteapp/partials/_products.html" %}

</section>

<!-- load more btn -->
<section class="section more-section">
	<button class="btn btn-transparent btn-more">Daha fazla görüntüle -></button>
</section>

{% endblock %}
