{% extends "base.html" %} {% load static %} {% block title %}product details{% endblock %} {% block content %}

<section class="section product-section two-column-section">
	<div class="section-left box">
		<img src="{{products.image.url}}" alt="Two makaron blue and yellow on each other" class="product-img" />
	</div>

	<div class="section-right">
		<div class="box">
			<h1 class="product-name">{{products.title}}</h1>
			<small class="product-view-count emphasis">23.754 defa görüntülendi</small>
		</div>
		<p class="product-desc">{{products.description|truncatewords:15}}</p>
		<h1 class="product-price">{{products.price}}$</h1>
		<article action="" method="post" class="product-addchart">
			<input class="product-chart-count" type="number" id="quantity" name="quantity" min="1" max="100" value="1" required />
			<button type="submit" class="btn">sepete ekle</button>
		</article>
		<small class="product-category emphasis">
			Categories: {% for category in categories %}
			<a href="{% url 'products-by-category' category.slug %}" class="category-link">{{ category.name }}</a>
			{% if not forloop.last %}, {% endif %} {% endfor %}
		</small>
	</div>
</section>

<section class="section product-section">
	<div class="product-info-buttons">
		<button class="btn btn-transparent" id="desc-btn">Description</button>
		<button class="btn btn-transparent" id="review-btn">Rewievs</button>
	</div>
	<h2>Description</h2>
	<p class="product-desc">{{products.description}}</p>
</section>

{% comment %} ilgili {% endcomment %}
<section class="section related-section">
	<h3 class="section-heading-text">Related Products</h3>
	<div class="related-products">
		{% for product in related_products %}
		<a href="{% url 'product-details' product.slug %}">
			<article class="product-card">
				<img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-card-img" />
				<div class="product-card-info">
					<p class="product-card-text">{{ product.title }}</p>
					<p class="product-card-price">${{ product.price }}</p>
				</div>
			</article>
		</a>
		{% empty %}
		<p>No related products available.</p>
		{% endfor %}
	</div>
	<!-- load more btn -->
	<section class="section more-section">
		<button class="btn btn-transparent btn-more">Daha fazla görüntüle -></button>
	</section>
</section>

<script>
	let x = false;
	let descBtn = document.getElementById("desc-btn");
	descBtn.classList.add("active");
	x = true;
	let reviewBtn = document.getElementById("review-btn");
	reviewBtn.addEventListener("click", function () {
		if (x) {
			descBtn.classList.remove("active");
			reviewBtn.classList.add("active");
			x = false;
		}
	});
	descBtn.addEventListener("click", function () {
		if (!x) {
			descBtn.classList.add("active");
			reviewBtn.classList.remove("active");
			x = true;
		}
	});
</script>

{% endblock %}
