@import "../abstracts/variables";

body {
  background-color: white;
  color: $black-color;
  font-family: $regular-font;
  scroll-behavior: smooth;
}

.container {
  width: min(80rem, 100% - 7.5rem);
  margin-inline: auto;
  
  //mixin for mobile
  @include respond-to(small) {
    width: min(40rem, 100% - 2rem);
  }
}

.br {
    border: 1px solid red;
}

