.popular-card {
  cursor: pointer;
  background: $white-color;
  width: 100%;
  max-width: px-to-rem(400);
  min-height: px-to-rem(500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .product-info {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .popular-card-img{
    max-height: px-to-rem(400);
  }
  &:hover {
    box-shadow: 0 0 px-to-rem(10) gainsboro;
  }

  @include respond-to(small){
    max-width: px-to-rem(200);
    min-height: px-to-rem(250);
    padding: 0.5rem;
  }
}

.category-card{
  cursor: pointer;
  width: 100%;
  max-width: px-to-rem(300);
  
  .category-card-img{
    max-height: px-to-rem(300);
  }
  .category-card-text{
    margin-top: px-to-rem(10);
    text-transform: capitalize;
  }
  &:hover{
    text-decoration: underline;
  }

  @include respond-to(small){
    max-width: px-to-rem(150);
    padding: 0.5rem;
  }
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white-color;
  cursor: pointer;
  max-width: px-to-rem(300);
  min-height: px-to-rem(380);
  @include respond-to(small) {
    min-width: px-to-rem(50);
    min-height: auto;
  }
  .product-card-img{
    max-height: px-to-rem(300);
  }
  padding: $gap30;
  .product-card-info{
    display: flex;
    justify-content: space-between;
    @include respond-to(small) {
      display: block;
      padding: 0;
    }
    word-wrap: break-word;
    overflow-wrap: break-word; 
    white-space: normal; 
    word-break: break-all;
    .product-card-price{
      word-break: normal;
    }
  }
}

.products-dropdown{
  appearance: none;
  padding: px-to-rem(15);
  border: px-to-rem(3) solid $white-color;
  outline: none;
  font-family: $regular-font;

}

.cart-card{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  margin-bottom: $gap30;
  padding-block: 1rem;
  .cart-card-img{
    max-width: 100px;
  }
  .cart-card-link{
    word-break: break-all;
    font-size: 0.8rem;
    margin-left: px-to-rem(15);
    &:hover{
      text-decoration: underline;
    }
  }
  .quantity-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .quantity-btn{
      padding: 0.8rem;
      cursor: pointer;
      margin-inline: px-to-rem(8);
      background: $white-color;

      &:hover{
        background: black;
        color: white;
      }
    }
  }

  .remove-btn{
    padding: 0;
    margin-left: px-to-rem(15);
  }

  @include respond-to(small){
    width: 100%;
    margin-block: px-to-rem(15);
    .cart-card-link{
      margin: 0;
    }
    .cart-card-img{
      max-width: 100px;
    }
    flex-direction: column;
    gap: px-to-rem(15);
    align-items: start;
    .quantity-btn{
      margin: 0;
    }

    .remove-btn{
      margin: 0;
    }
  }
}

.cart-summary-wrapper{
  
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: $gap60;
  .cart-summary-card{
    flex-wrap: wrap !important;
    width: 100%;
    background: $white-color;
    padding: 1rem;
    .cart-summary-card-title{
      margin-bottom: $gap30;
    }
    .summary-text{
      .summary-text>p{
        display: block;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap !important;
      margin-bottom: $gap30;
      text-transform: capitalize;
    }
    
  }
}