.section {
  padding-block: px-to-rem(70);
  &-header{
    margin-bottom: $gap60;
  }
  @include respond-to(small) {
    padding-block: px-to-rem(35);
  }
}

.section-category-text {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: px-to-rem(30);
  @include respond-to(small) {
    font-size: 0.8rem;
    margin-bottom: px-to-rem(15);
  }
}

.section-heading-text {
  font-size: 2rem;
  @include respond-to(small) {
    font-size: 1.5rem;
  }
}

.hero-section {
  display: flex;
  .hero-content {
    width: 57%;
    .hero-header {
      font-size: clamp(1.75rem, 4vw, 3.5rem);
      line-height: 1.5;
      margin-bottom: px-to-rem(30);
      @include respond-to(small) {
        margin-bottom: px-to-rem(15);
      }
    }
    .hero-text {
      color: gray;
    }
    .hero-buttons {
      margin-top: px-to-rem(80);
      @include respond-to(small) {
        margin-top: px-to-rem(40);
      }
    }
  }
  .hero-grid {
    width: 43%;
  }
  @include respond-to(small) {
    display: block;
    .hero-content,
    .hero-image {
      width: 100%;
    }
  }
}


.ambitions-section {
  width: 100%;
  .ambitions-img {
    display: block;
    @include respond-to(small) {
      max-width: px-to-rem(300);
      margin-inline: auto;
    }
  }
  .section-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ambitions-text {
    line-height: 1.5;
    margin-block: $gap60;
    @include respond-to(small) {
      margin-block: $gap30;
    }
  }
}

.emphasis-section {
  .section-header {
    width: 57%;
    @include respond-to(small) {
      width: 100%;
    }
  }

  .section-header > h1 {
    font-size: clamp(0.8rem, 4vw, 2rem);
    line-height: 1.5;
  }
}

/* Products page sections */

.products-category-section {
  text-align: center;
  & > .section-heading-text,
  & > .emphasis {
    margin-bottom: $gap30;
    @include respond-to(small) {
      margin-bottom: px-to-rem(15);
    }
  }

  .product-navbar {
    width: 100%;
    display: block;
    
    @include respond-to(small) {
      flex-direction: column;
    }
    position: relative;
    // margin-right: px-to-rem(150);
    @include respond-to(small) {
      margin-right: 0;
    }

  }


  .products-dropdown-wrapper{
    text-align: left;
    margin-top: $gap30;
    max-width: px-to-rem(150);
    .products-dropdown {
      max-width: px-to-rem(150);
    }
  }

  .product-category-links {
    width: 100%;
    display: block;
    text-align: center;
    gap: $gap30;

    @include respond-to(small) {
      flex-direction: column;
      gap: px-to-rem(15);
    }

    .product-category-link {
      word-break: break-all;
      :hover {
        text-decoration: underline;
      }
    }
  }
}

.more-section {
  padding-block: $gap30;
  text-align: center;
}

.related-products-section{
  .section-heading-text{
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: $gap30;
  }
}